.btn {
  background-color: rgb(84, 116, 220);

  color: white;
  cursor: pointer;
}

.danger {
  background-color: rgb(225, 69, 69);
}

.success {
  background-color: rgb(67, 160, 112);
}

.warning {
  background-color: rgb(217, 210, 69);
}
